body {
    background-color: #000; 
}

h1 {
    color: #fff;
}

ul {
    color: #fff;
    list-style: none;
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;

}

/* ul dentro da nav que está dentro da sidebar*/
.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li{
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}


.sidebar__navigation .logo {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    padding: 16px 0;
}


.logo img {
    width: 100px;
}